.product-details--lineThrough-price{
    text-decoration: line-through;

}

.product-detils--discounted-price {
    font-weight: bold;
    background-color: red;
    color: white;
    text-decoration: none;
}